<div class="containerr">
  <div class="section">
    <div class="section-one">

      <p class="para">Other deliver <br> parcels we deliver <br> emotions</p>

      <p style="color:black ;">We take care of order fulfillment,collection,transport, <br> tracking and delivery of
        parcels. </p>

    </div>
    <div class="draw">
      <img src="/assets/undraw_on_the_way_re_swjt.svg" alt="">

    </div>
  </div>


  <div class="reviews">

    <div class="cart">
      <img src="/assets/cart-shopping-solid.svg" width="80x" alt="">
      <div class="desc">
        <h2>1000K+</h2>
        <p>Parcels delivered</p>
      </div>
    </div>
    <div class="cart">
      <img src="/assets/location-pin-solid.svg" width="80x" alt="">
      <div class="desc">
        <h2>30</h2>
        <p>Cities and even More</p>
      </div>
    </div>
    <div class="cart">
      <img src="/assets/box-solid.svg" width="80x" alt="">
      <div class="desc">
        <h2>8K+</h2>
        <p>Merchants grow their <br> business</p>
      </div>
    </div>
  </div>


  <div class="services">
    <h3>Proffesional services</h3>
    <p>Meet your needs</p>

    <div class="star">

      <div class="star-one">
        <img src="/assets/star-solid.svg" width="80px" alt="">
        <h2>Pet Shipping</h2>
        <p>Since its founding, Hezzy has been one of <br> the most trusted names in the industry.</p>
      </div>
      <div class="star-one">
        <img src="/assets/star-solid.svg" width="80px" alt="">
        <h2>cars Shipping</h2>
        <p>Since its founding, Hezzy has been one of <br> the most trusted names in the industry.</p>
      </div>
      <div class="star-one">
        <img src="/assets/star-solid.svg" width="80px" style="color:#FA393D ;" alt="">
        <h2>  Shipping</h2>
        <p>Since its founding, Hezzy has been one of <br> the most trusted names in the industry.</p>
      </div>
    </div>

  </div>


  <div class="about">

    <h1 class="story">More About Us</h1>

    <p class="story">OurStory</p>

    <p>Since our founding,Hezzy has been known for quality services,exceptional <br>
      
      only meet, <br> but exceed your expectatiions and ensure your full satisafaction.</p>

    <p>Our team is up for every job,managing projects with the skill and experience our <br> for details about the services we provide
    </p>


  </div>


 <div class="section-">

  
  <div class="touch">


    <div class="address">
      <h2>Location</h2>

      <p>5th street kimathi way</p>
      <p>Nyeri CA 5356A</p> <pre></pre>

     
    </div>

    <div class="contact-form">
      <h1>Contacts</h1>
      <p>+2547190000</p>
      <p>infor@sendit.com</p>
  </div>
  
 </div>


 <footer>
  <p>copyrights 2022.All rights Preserved.</p>
 </footer>



</div>
