.section{
    background-color: white;
    
}
.containerr{
    /* background-color: rgb(136, 136, 42);  */
    background-color: white;
}
.para{
    color: black;
    font-size: 40px;
}

.section{
    display: flex;
    justify-content: space-evenly;

    padding-left: 4rem;
}

.reviews{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.cart{
    display: flex;
    text-align: center;
}
.desc{
    padding-top: 1rem;
}

.services{
    text-align: center;
    margin-top: 1rem;
}

.star{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    gap: 2rem;
}

.star-one{
    padding: 30px;
    /* border: 2px solid white; */
    border-radius: 5px;
    background-color: rgb(136, 136, 42); 
}
.cart p{
    font-size: 20px;
}
p{
    font-size: 20px;
}

.star-one img{
    padding-bottom: 1rem;
}

.about{
   text-align: center;

    margin-top: 1rem;
    
}
h1{
    text-align: center;
}

.story{
    color: black;
}
.touch{
    
    display: flex;
    justify-content: space-evenly;
   
    font-size: 20px;
}

input{
    border-radius: 5px;
    width: auto;
}

.name{
    display: flex;
}

.contact-form{
    background-color: #7BC4B2;
    color: black;
    
}

.email{
    width: 100%;
}
.text{
    flex-wrap: wrap;
}

textarea{
    width: 100%;
    border-radius: 5px;
}
footer{
    margin-top: 2rem;
    text-align: center;
    color: white;
    background-color: #2E5C64;
}

.send{
    margin-top: 2rem;
    width: 100%;
    border-radius: 15px;
    background-color: #FA393D;
    color: black;
}
h2{
    color: black ;
}