.se{
    display: flex;
    justify-content: space-around;
}

.log{

  margin-top: 3rem;
    width: 100px;
    border-radius: 15px;
    background-color: #7BC4B2;
    color: white;
}
.se{
    padding-top: 2rem;
}

.view{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.view-one{
    text-align: center;
    
    height: 400px;
    width: 300px;
    background-color: #9497A2;
    border-radius: 5px;
}

.all{
    margin-top: 3rem;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
}

.new{
    margin-top: 3rem;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
}
.delivered{
    margin-top: 2rem;  
    background-color: white;
    font-weight: bold;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;

  }
  
  form.search button {
    float: left;
    width: 30%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 15px
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  form.search input{
    border-radius: 15px;
  }

  table{
    background-color: antiquewhite;
    margin-top: 1rem;
  }

  th{
    background-color: #7BC4B2;
    color: #fff;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
  }

  td{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
  }

  .view-button{
    border: none;
    background-color: #F1686C;
    border-radius: 15px;
    color: white;
  }

  .pagination {
    display: inline-block;
   padding-top: 4rem;
   text-align: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pending{
    color: red;
  }

  .delivered{
    color: green;
  }

  .dash{
    display: flex;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  .dash-one{
    box-sizing: border-box;
    background-color: #7BC4B2;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
  }
  .dash-two{
    box-sizing: border-box;
    background-color: #FCC739;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 1rem;
  }
  .dash-three{
    box-sizing: border-box;
    background-color: #F1686C;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 1rem;
  }
  h2{
    color: white;
  }