
<div class="orders">

    <div class="se">
        <h1>Welcome Admin</h1>
        <button class="log">LogOut</button>
    </div>


<div class="view">

    <div class="view-one">

        <button class="all">All Orders</button> <br> 
        <button class="new">Create new Order</button> <br>

        <button class="delivered">Status</button>

    </div>

    <div class="view-two">

        <form class="search" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Search your package name" name="search2">
            <button type="submit">Search</button>
          </form>

          <table style="width:100%">
            <tr>
              <th>Package Name</th>
              <th>Package Id</th>
              <th>Destination</th>
              <th>Sender</th>
              <th>Receiver</th>
              <th>Price</th>
              <th>Weight</th>
              <th>date</th>
              <th> Details</th>

            </tr>
            <tr>
              <td>Futterkiste</td>
              <td>A100</td>
              <td>Germany</td>
              <td>Alfreds</td>
              <td>Anders</td>
              <td>ksh.2000</td>
              <td>2kg</td>
              <td>12/02/2022</td>
              <td><button class="view-button">View Details</button></td>
            </tr>
            <tr>
              
            </tr> 
            </table>



            <div class="pagination">
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
              </div>
            </div>        


    </div>




   



</div>    





</div>