<div class="orders">

  <div class="se">
    <h1>Welcome Admin</h1>

  </div>


  <div class="view">

    <div class="view-one">

      <button class="all">All Orders</button> <br>
      <button (click)="create()" class="new">Create new Order</button> <br>
      <button (click)="logout()"class="log" >LogOut</button>



    </div>

    <div class="view-two">

      <input type="text" placeholder="Search for your package" [(ngModel)]="filterText">




      <div class="dash">
        <div class="dash-one">

          <h2>Delivered</h2>

          <p>300K</p>
          <P>PARCELS</P>

        </div>
        <div class="dash-two">
          <h2>pending</h2>
          <p>30</p>
          <P>PARCELS</P>
        </div>
        <div class="dash-three">
          <h2>clients</h2>
          <p>30K</p>
          <P>Users</P>
        </div>
      </div>
      <table style="width:100%" *ngIf="orders$|async  as orders">
        <tr>
          <th>Package Name</th>
          <th>Package Id</th>
          <th>Destination</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Price</th>
          <th>Weight</th>
          <th>date</th>
          <th>Status</th>
          <th> Details</th>
          <th>Actions</th>

        </tr>
        <tr *ngFor="let order of orders |search: filterText | paginate:{itemsPerPage:3,currentPage:p};">
          <td>{{order.PackageName}}</td>
          <td>{{order.parcelId}}</td>
          <td>{{order.destination}}</td>
          <td>{{order.senderEmail}}</td>
          <td>{{order.receiverEmail}}</td>
          <td>{{order.price}}</td>
          <td>{{order.weight}}</td>
          <td>{{order.date}}</td>
          <td class="pending">{{order.status}}</td>
          <td><button (click)="viewDetails(order.id)" class="view-button">View Details</button></td>
          <td><button (click)="DeleteDetails(order.id)" class="view-button">Delete</button></td>
        </tr>

        <pagination-controls (pageChange)="p =$event"></pagination-controls>

      </table>

     

      <router-outlet></router-outlet>



      <!-- <div class="pagination">
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div> -->


    </div>








  </div>







</div>
