
.register{
    
    justify-content: center;
    align-items: center;
    
    margin: auto;
   width: auto;
    height: 100vh;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    
    padding: 10px;
    padding-top: 1rem;
    
    
}
h4{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.inputs{
    
    justify-content: space-evenly;
   
}
.reg{
    padding-top: 3rem;
    background-color: #4057A9;
    padding-right: 1rem;
    border-radius: 15px;
}
.pass{
    padding-top: 3rem; 
}
.signup{
    display: flex;
    justify-content: space-evenly;

    padding-top: 3rem;
}
.fields{
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    height: auto;
    box-sizing: border-box;
    margin: auto;
  width: auto;
  border-radius: 15px;
  margin: auto;
width: 40%;
background-color: rgb(136, 136, 42);
   

}


.inputs input{
  
    border-radius: 15px;
    padding: 7px;
    background-color: white;
    width: 80%;
}

/* .pass input{
    width: 100%;
    border-radius: 15px;
    padding: 7px;
    background-color: white;
} */

.reg-btn{
    background-color: rgb(136, 136, 42);
    padding: 8px;
    border-radius: 15px;
    color:white;
    margin-top: 2rem;
    width: 80%;
    border: none;
    
}
a{
    color:#D0504F;
    font-weight: bold;
    
}

button{
    background-color: #fff;
    padding: 5px;
}

img{
    padding-right: 1rem;
}

.reg-image{
    padding-top: 1rem;
    margin-left: 1rem;
}

.error{
    color: red;
}
 input.ng-invalid.ng-touched{
    border-left:5px solid red ;
}
input.ng-valid.ng-touched{
    border-left:5px solid green ;
}

.para{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    font-size: 20px;
    color: white;
}

placeholder{
    padding: 1rem;
    color:black;
    font-weight: bold;
}

form p{
    padding-top: 1rem;
    justify-content: start;
    color: white;
}