<div class="register">
<h4>Please Register Here with your details</h4>
<div class="signup">
    <button>
        <img src="/assets/google.svg" width="35px" alt=""> <span>Sign Up with Google</span>
    </button>
    <p>or</p>
    <button>
        <img src="/assets/facebook.svg" width="35px" alt=""> <span>Sign Up with facebook</span>
    </button>
</div>

<div class="fields">
  <div class="reg">
    <div class="inputs">
        <div class="username">
            <p>Username</p>
            <input type="text">
        </div>

        <div class="email">
            <p>Email</p>
            <input type="email">
        </div>
    </div>

    <div class="pass">
        <p>Password</p>
        <input type="password">
    </div>
  </div>

  <div class="reg-image">
    <img src="/assets/undraw_maker_launch_re_rq81.svg" width="400px" alt="">
</div>

</div>

<input type="checkbox" id="vehicle3" name="vehicle3">

<p for="vehicle3"> I've read and agreed with terms of services <br> our privacy policy</p><br><br>

<button class="reg-btn">Register</button>


<p>Allready Register? Sign In here <a href="">Login</a> </p>



</div>
