
.register{
    background-color: white;
    justify-content: center;
    align-items: center;
    
    margin: auto;
   width: auto;
    height: 100vh;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    
    padding: 10px;
    padding-top: 1rem;
    
    
}
h4{
    text-align: center;
}

.form1{
    display: flex;
}
.inputs{
    
    justify-content: space-evenly;
   
}
.reg{
    padding-top: 3rem;
}
.pass{
    padding-top: 3rem; 
}
.signup{
    display: flex;
    justify-content: space-evenly;

    padding-top: 3rem;
}
.fields{
    align-items: center;
    display: flex;
    margin: auto;
    height: 800px;
    box-sizing: border-box;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
   

}.email{
    margin-left: 2rem;
}

.inputs input{
    width: 150px;
    border-radius: 15px;
    padding: 7px;
    background-color: white;
}

.pass input{
    width: 100%;
    border-radius: 15px;
    padding: 7px;
    background-color: white;
}

.reg-btn{
    background-color: #D0504F;
    padding: 8px;
    border-radius: 5px;
    color:white;
    margin-top: 2rem;
    
}
a{
    color:#D0504F;
    font-weight: bold;
    
}

button{
    background-color: #fff;
    padding: 5px;
}

img{
    padding-right: 1rem;
}

.reg-image{
    padding-top: 1rem;
    margin-left: 1rem;
}

.error{
    color: red;
}
 input.ng-invalid.ng-touched{
    border-left:5px solid red ;
}
input.ng-valid.ng-touched{
    border-left:5px solid green ;
}

.para{
    text-align: center;
    padding-top: 1rem;
}