

.navbar{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color:#7BC4B2;
}

ul{
    list-style: none;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3rem;
}

li{
    color: black;
    font-size: 20px;
}
.started{
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #FA393D;
    box-shadow: none;
    border: none;
}

