<div class="containerr">

<div class="navbar">
    <div class="logo">
        <p> <span style="color:#FF0000">S</span>
            <span style="color:#66CC66">E</span>
            <span style="color:#FF9966">N</span>
            <span style="color:#FFCCCC">D</span>
            <span style="color:#FF0066">IT</span></p>
    </div>

    <div class="header">
        <ul>
            
            <li routerLink="/">Home</li>
            <li>Services</li>
            <li>About US</li>
            
            <li> <button (click)="getStarted()"class="started">Get Started</button></li>
            <li> <button class="log">Logout</button> </li>

        </ul>
    </div>
</div>


</div>
