.main{
    margin: auto;
    box-sizing: border-box;

    padding-top: 2rem;

    
    height: 500px;
    width: 400px;

}

.form-control{
    border: none;
}


.form-status{
    display: flex;
}

select{
    width: 100%;
}

.date{
    width: 100%;
}

.sub{
    margin-left: 10rem;
    width: 150px;
    margin-top: 2rem;
}