.content{
   text-align: center;
    margin-top: 2rem;
    text-align: center; 
  
    
}
.new{
    display: flex;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    padding-top: 1rem;
}


p{
    color: white;
    font-size: 30px;
    padding-left: 2rem;
   
}

.bt{
    background-color: brown;
    border-radius: 3px;
    color: #fff;
   align-items: center;
    
    margin-left: 4rem;
}

.back{
    margin-top: 2rem;
}
.con{
   
    text-align: center;
    background-color: rgb(136, 136, 42); 
    height: 400px;
    width: 800px;
    color: white;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.map{
   
    margin-left: 2rem;
}
span{
    color: black;
}

button{
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}