.content{
    box-sizing: border-box;

    background-color: blueviolet;
    height: 500px;
    width: 350px;
    margin: auto;
    margin-top: 2rem;
   
    
}

h2{
    text-align: center;
    color: white;
    padding-top: 1rem;
}


p{
    color: white;
    font-size: 20px;
    padding-left: 2rem;
}

button{
    background-color: brown;
    border-radius: 3px;
    color: #fff;
    
    margin-left: 4rem;
}

.back{
    margin-top: 2rem;
}
.con{
    display: flex;
    justify-content: space-evenly;
}

.map{
    margin-left: 2rem;
}