<div class="single-details">
  <button class="back" (click)="goback()">Go back</button>

 <div class="con">
    <div class="content" *ngIf=" order$ | async as ord">
        <h2>Package details</h2>
        <p>Name:{{ord.PackageName}}</p>
        <p>Package Id:  {{ord.parcelId}}</p>
        <p>Destination: {{ord.destination}}</p>
        <p>Sender: {{ord.senderEmail}}</p>
        <p>Receiver: {{ord.receiverEmail}}</p>
        <p>price:{{ord.price}}</p>
        <p>Weight:{{ord.weight}}</p>
        <p>date {{ord.date}}</p>
        <p>Status: {{ord.status}}</p>
        <button>Update status</button>
      </div>
    <div class="map">
        <app-map></app-map>
    </div>
 </div>
  
</div>
