<div class="single-details">
  <button class="back" (click)="goback()">Go back</button>

  <div class="con" *ngIf=" order$ | async as ord">
    <h2>Package details</h2>
    <div class="content" *ngFor="let ord of ord">
      <div class="new">
        <div class="div1">

          <p> Package Name :<span>{{ord.PackageName}}</span></p>
          <p>Destination: <span>{{ord.destination}}</span> </p>
          <p>Sender: <span>{{ord.senderEmail}}</span> </p>
          <p>Receiver: <span>{{ord.receiverEmail}}</span> </p>
        </div>
        <div class="div2">

          <p>price: <span>{{ord.price}}</span></p>
          <p>Weight:<span>{{ord.weight}}</span> </p>
          <p>date <span>{{ord.date}}</span> </p>
          <p>Status: <span>{{ord.status}}</span></p>
        </div>
      </div>

      <button (click)="update(ord.id)" class="bt">Update status</button>


    </div>





  </div>
  <div class="map">
    <app-map></app-map>
  </div>


</div>
