<div class="admin">


    <button (click)="back()">Go Back</button>

  <div class="create-orders" style="margin:0 auto">


    <form>

      <h1>Add new Order</h1>
      <div class="display">
        <div class="form-one">
          <p>Package Name</p>
          <input type="text">
          <p>Package Id</p>
          <input type="text">
          <p>Destination </p>
          <input type="text">
          <p>Sender</p>
          <input type="text">

        </div>
        <div class="form-two">
          <p>Receiver</p>
          <input type="text">

          <p>Price</p>
          <input type="text">

          <p> Weight</p>
          <input type="text">

          <p>date</p>
          <input type="date">
        </div>
      </div>
      <button class="create">Create New Order</button>
    </form>
  </div>



</div>
