<div class="admin">


    <button (click)="back()">Go Back</button>

  <div class="create-orders" style="margin:0 auto">


    <form  [formGroup]="projectForms" (ngSubmit)="onSubmit()">

      <h1>Add new Order</h1>
      <div class="display">
        <div class="form-one">
          <p>Package Name</p>
          <input type="text" formControlName="PackageName" class="form-control">
          <div *ngIf="!projectForms.get('PackageName')!.valid && projectForms.get('PackageName')!.touched">
            <p class="error" *ngIf="projectForms.get('PackageName')!.errors!['required']">
              *Package name is required.
            </p> 
          </div>
          
          <p>Destination</p>
          <input type="text" formControlName="destination" class="form-control">
          <div *ngIf="!projectForms.get('destination')!.valid && projectForms.get('destination')!.touched">
            <p class="error" *ngIf="projectForms.get('destination')!.errors!['required']">
              * Destination cannot be empty!!.
            </p> 
          </div>
          
          <p>Sender</p>
          <input type="text" formControlName="senderEmail" class="form-control">
          <div *ngIf="!projectForms.get('senderEmail')!.valid && projectForms.get('senderEmail')!.touched">
            <p class="error" *ngIf="projectForms.get('senderEmail')!.errors!['required']">
              * Email cannot be empty!!.
            </p> 
          </div>
          

        </div>
        <div class="form-two">
          <p>Receiver</p>
          <input type="text" formControlName="receiverEmail" class="form-control">
          <div *ngIf="!projectForms.get('receiverEmail')!.valid && projectForms.get('receiverEmail')!.touched">
            <p class="error" *ngIf="projectForms.get('receiverEmail')!.errors!['required']">
              * Email cannot be empty!!.
            </p> 
          </div>


           <p> Weight</p>
           <input type="text" formControlName="weight" class="form-control">
           <div *ngIf="!projectForms.get('weight')!.valid && projectForms.get('weight')!.touched">
            <p class="error" *ngIf="projectForms.get('weight')!.errors!['required']">
              * Weight cannot be empty!!.
            </p> 
          </div>
      
          <p>Price</p>
          <input type="text" formControlName="price" class="form-control"> 
        </div>
        
      </div>
      <p>date</p>
        <input type="date"formControlName="date" class="form-control">
      <button type="submit" class="create">Create New Order</button>
    </form>
  </div>



</div>
