.login{
    margin: auto;
    width: 50%;
    background-color:white;
    height: auto;
   
}

.det{
    text-align: center;
    padding-top: 1rem;
}

.login-section{
    display: flex;
    height: 460;
    text-align: center;
    margin-left: 2rem;
    padding-bottom: 2rem;
    color: #fff;
}
p{
   
    padding-bottom: 1rem;
    color: black;
    font-size: 20px;
}

input{
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 0.3rem;

}

.login-details{
    height: 455px;
    background-color: #4057A9;
    width: 334px;
    border-radius: 15px 0px 0px 15px;
    padding-top: 1rem;
    margin-left: 4rem;
}

button{
    border-radius: 15px;
    width: 80%;
    margin-top: 1rem;
    font-size: 20px;
    padding: 0.5rem;
    background-color: rgb(136, 136, 42);

    margin-bottom: 2rem;
    border: none;
    color: #fff;
}

.login-image{
    background-color: rgb(136, 136, 42);
    border-radius: 0px 15px  15px 0px;
}

a{
    color: white;
}

.form-control{
    border: none;
    background-color: #4057A9;
}

.error{
    color: red;
}
 input.ng-invalid.ng-touched{
    border:2px solid red ;
}
input.ng-valid.ng-touched{
    border:2px solid green ;
}

placeholder{
    padding: 2rem;
}
.login-details p{
    color: white;
}
