<div class="login">

<div class="det">
    <h1>Welcome back</h1>
<p>Welcome back.Please enter your details</p>
</div>

    <div class="login-section">

       <form #form ="ngForm" (ngSubmit)="onSubmit()">
        <div class="login-details">

            <div class="form-control">
                <p>Email</p>
                <input type="email" ngModel name="email" required email #email="ngModel" placeholder="Enter your Email">
                <p class="error" *ngIf="!email.valid && email.touched"> *Please enter valid email!!</p>
                <!-- <p class="error" *ngIf="!email.valid && email.touched>*Please enter valid email!!</p> -->
            </div>

            <div class="form-control">
                <p>Password</p>
                <input type="password" ngModel name="password"  #password="ngModel" required placeholder="Enter your Password">
                <p class="error" *ngIf="!password.valid && password.touched"> *Password is required</p>
               
            </div>

            <button type="submit">Sign In</button>

            <p>Don't have account??.<a href="auth/register">Sign Up</a> </p>

            

        </div>
       </form>

        <div class="login-image">

            <img src="/assets/undraw_login_re_4vu2.svg" width="334px" height="445" alt="">

        </div>







    </div>




</div>
