<div class="login">

<div class="det">
    <h1>Welcome back</h1>
<p>Welcome back.Please enter your details</p>
</div>

    <div class="login-section">

        <div class="login-details">

            <p>Email</p>
            <input type="email">

            <p>Password</p>

            <input type="password"> <br> <pre></pre>

            <button>Sign In</button>

            <p>Don't have account??.<a href="">Sign Up</a> </p>

            

        </div>

        <div class="login-image">

            <img src="/assets/undraw_login_re_4vu2.svg" width="334px" height="445" alt="">

        </div>







    </div>




</div>
