.user{
    margin: auto;
    width: 60%;
   
}

  table{
    background-color: antiquewhite;
    margin-top: 1rem;
    
  }
  h1{
    text-align: center;
  }

  th{
    background-color: #0b7dda;
    color: #fff;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }

  td{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
  }

  .view-button{
    border: none;
    background-color: red;
    border-radius: 15px;
    color: white;
    width: 100%;
  }

  .pagination {
    display: inline-block;
   padding-top: 6rem;
   text-align: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .sent{
    padding-top: 1rem;
  }

  .received{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h1{
    padding-bottom: 2rem;
  }
  .head{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  .log{
    width: 150px;
    color: #fff;
    padding: 0;
    border-radius: 15px;
    background-color: red;
  }

  button{
    padding: 1rem;
  }