<div class="order1">

   <div class="head">
    <h1>Welcome User</h1>
   
   </div>
    <div class="user">

        <div class="sent">
            <h1>Orders Sent</h1>
        
            <table>
                <tr>
                  <th>Package Name</th>
                  <th>Destination</th>
                  <th>Sender</th>
                  <th>Price</th>
                  <th>Weight</th>
                  <th>date</th>
                  <th> Details</th>
        
                </tr>
                <tr *ngFor="let order of orderssent">
                  <td>{{order.PackageName}}</td>
                  <td>{{order.destination}}</td>
                  <td>{{order.receiverEmail}}</td>
                  <td>{{order.price}}</td>
                  <td>{{order.weight}}</td>
                  <td>{{order.date}}</td>
                  <td><button (click)="details(order.id)" class="view-button">View Details</button></td>
                </tr>
                <tr>
                  
                </tr> 
                </table>
        </div>
        
        
        <div class="received">
            <h1>Orders Received</h1>
        
            <table>
                <tr>
                  <th>Package Name</th>
                  <th>Destination</th>
                  <th>Sender</th>
                  <th>Price</th>
                  <th>Weight</th>
                  <th>date</th>
                  <th> Details</th>
        
                </tr>
                <tr *ngFor="let order of ordersreceived">
                  <td>{{order.PackageName}}</td>
                  <td>{{order.destination}}</td>
                  <td>{{order.senderEmail}}</td>
                  <td>{{order.price}}</td>
                  <td>{{order.weight}}</td>
                  <td>{{order.date}}</td>
                  <td><button (click)="details(order.id)" class="view-button"> view Details</button></td>
                </tr>
                <tr>
                  
                </tr> 
                </table>
        </div>
      
        </div>
</div>
